{% extends 'base.html' %}
{% block title %}Páginas web - Contacto {% endblock %}
{% block content %} 
<section class="products-section">
<article>
<h1>Contacto</h1>
<h2>Envíe su consulta completando el siguiente formulario y nos pondremos en contacto con usted inmediatamente!.</h2>
<br>
<br>

<div class="wrap-contact">	

{% if info_enviado %}
	<div class="contact-OK">
		<p>¡Gracias por enviar un comentario!.</p>
	</div>
{% else %}
<div class="contactForm">
	<h2>Formulario de contacto</h2>
	<br>
	<form action="" method="POST" class="form">
		{% csrf_token %}
		{{form.as_p}}
		<input type="submit" value="Enviar" class="more">

	</form>
</div>

<div  class="contact-info">
<h2>Información de contacto</h2>
<br>
<p><span class="icon-mail5"></span> ventas@webssites.com.ar</p>
<p><span class="icon-mail5"></span> info@webssites.com.ar</p>
<p><span class="icon-mobile"></span> (54) 351 2712833</p>
<p><span class="icon-location2"></span> Roma 247, Córdoba, Argentina</p>
</div>
{% endif %}
</div>
<br>
<br>
</article>
</section>
{% endblock %}