{% extends 'base.html' %}
{% block title %}Diseño Web en Córdoba {% endblock %}
{% block content %} 
	<h1>La Empresa</h1>
	<section class="section80">
		<article>
			<figure class="wrap-image">
					<img class="img-circle" src="{{STATIC_URL}}images/laempresa.jpg" />
				</figure>
				
		</article>

		<article>

			<div class="wrap-texto">
				<h3>Somos una empresa líder en diseño web y contamos con personal calificado, para diseñar y desarrollar los mejores sitios web.</h3>
				<br>
				<p>
				Nuestro objetivo principal es que su empresa se destaque entre muchas otras en la web y de esta forma lograr las ventas deseadas, maximizando el  número de visitas.</p>
				<p>
				Para lograr nuestros objetivos contamos con las más variadas y modernas tecnologías. Es por eso que ofrecemos una amplia variedad de productos con las mejores ventajas.
				Nuestros productos se desarrollan con HTML5, CSS3, Java Scripts, PHP, ASP.NET, Python & Django y Node.js.
				</p>
				<p>Tenemos los estudios necesarios para ofrecerte lo más moderno en diseño y desarrollo de aplicaciones web.</p>
			
			</div>
			
			<br>
			<br>
			<br>
			
		
 
	</article>
</section>
{% endblock %}