{% extends 'base.html' %}
{% block title %}Marketing Online - Publicidad en Google {% endblock %}
{% block content %} 
<section class="section80">
<article class="marketing">
<h1>Marketing Online</h1>
<div class="circle">
			<span class="icon-megaphone"></span>
		</div>
		
		<p>¿Quieres aparecer en las primeras posiciones de Google?</p>
		<p>¿Quieres que tus posibles clientes te encuentren?</p>
		<p>¿Quieres una publicidad efectiva a muy bajo costo?</p>	
		<br>
		<h3>
			Creamos tu campaña Ad-Words para que logres estar en la primera posición de acuerdo a las palabras claves más convenientes para tu negocio y concretar tus ventas o contactos a través de tu página web.
		</h3>
		<h3>
			Google Ad-Words es la publicidad más efectiva del momento y es muy económica.
		</h3>
		<br>
		<a class="btn yellow" href="{% url "contacto" %}">CONSULTANOS YA</a>

<br>
<br>
<br>
<br>
<br>
<br>
</article>
</section>

{% endblock %}