@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?vunh4a');
	src:url('fonts/icomoon.eot?#iefixvunh4a') format('embedded-opentype'),
		url('fonts/icomoon.woff?vunh4a') format('woff'),
		url('fonts/icomoon.ttf?vunh4a') format('truetype'),
		url('fonts/icomoon.svg?vunh4a#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}
.icon-home2:before {
	content: "\e601";
}
.icon-home3:before {
	content: "\e602";
}
.icon-pencil:before {
	content: "\e603";
}
.icon-pencil2:before {
	content: "\e604";
}
.icon-cart:before {
	content: "\e605";
}
.icon-cart2:before {
	content: "\e606";
}
.icon-cart3:before {
	content: "\e607";
}
.icon-coin:before {
	content: "\e608";
}
.icon-credit:before {
	content: "\e609";
}
.icon-phone:before {
	content: "\e60a";
}
.icon-phone-hang-up:before {
	content: "\e60b";
}
.icon-envelope:before {
	content: "\e60c";
}
.icon-location:before {
	content: "\e60d";
}
.icon-location2:before {
	content: "\e60e";
}
.icon-map:before {
	content: "\e60f";
}
.icon-map2:before {
	content: "\e610";
}
.icon-keyboard:before {
	content: "\e611";
}
.icon-screen:before {
	content: "\e612";
}
.icon-mobile:before {
	content: "\e613";
}
.icon-mobile2:before {
	content: "\e614";
}
.icon-tablet:before {
	content: "\e615";
}
.icon-search:before {
	content: "\e616";
}
.icon-zoomin:before {
	content: "\e617";
}
.icon-zoomout:before {
	content: "\e618";
}
.icon-lock:before {
	content: "\e619";
}
.icon-wrench:before {
	content: "\e61a";
}
.icon-equalizer:before {
	content: "\e61b";
}
.icon-cogs:before {
	content: "\e61c";
}
.icon-stats:before {
	content: "\e61d";
}
.icon-switch:before {
	content: "\e61e";
}
.icon-link:before {
	content: "\e61f";
}
.icon-attachment:before {
	content: "\e620";
}
.icon-warning:before {
	content: "\e621";
}
.icon-question:before {
	content: "\e622";
}
.icon-info:before {
	content: "\e623";
}
.icon-cancel-circle:before {
	content: "\e624";
}
.icon-checkmark-circle:before {
	content: "\e625";
}
.icon-checkmark:before {
	content: "\e626";
}
.icon-checkmark2:before {
	content: "\e627";
}
.icon-code:before {
	content: "\e628";
}
.icon-console:before {
	content: "\e629";
}
.icon-share:before {
	content: "\e62a";
}
.icon-mail:before {
	content: "\e62b";
}
.icon-mail2:before {
	content: "\e62c";
}
.icon-mail3:before {
	content: "\e62d";
}
.icon-mail4:before {
	content: "\e62e";
}
.icon-googleplus:before {
	content: "\e62f";
}
.icon-facebook:before {
	content: "\e630";
}
.icon-twitter:before {
	content: "\e631";
}
.icon-feed:before {
	content: "\e632";
}
.icon-vimeo:before {
	content: "\e633";
}
.icon-flickr:before {
	content: "\e634";
}
.icon-picassa:before {
	content: "\e635";
}
.icon-android:before {
	content: "\e636";
}
.icon-file-xml:before {
	content: "\e637";
}
.icon-file-css:before {
	content: "\e638";
}
.icon-html5:before {
	content: "\e639";
}
.icon-html52:before {
	content: "\e63a";
}
.icon-css3:before {
	content: "\e63b";
}
.icon-chrome:before {
	content: "\e63c";
}
.icon-firefox:before {
	content: "\e63d";
}
.icon-IE:before {
	content: "\e63e";
}
.icon-opera:before {
	content: "\e63f";
}
.icon-display:before {
	content: "\e640";
}
.icon-megaphone:before {
	content: "\e641";
}
.icon-phone2:before {
	content: "\e642";
}
.icon-mobile3:before {
	content: "\e643";
}
.icon-mail5:before {
	content: "\e644";
}
.icon-pencil3:before {
	content: "\e645";
}
.icon-paperclip:before {
	content: "\e646";
}
.icon-location3:before {
	content: "\e647";
}
.icon-map3:before {
	content: "\e648";
}
.icon-house:before {
	content: "\e649";
}
.icon-link2:before {
	content: "\e64a";
}
.icon-cog:before {
	content: "\e64b";
}
.icon-brush:before {
	content: "\e64c";
}
.icon-keyboard2:before {
	content: "\e64d";
}
.icon-screen2:before {
	content: "\e64e";
}
.icon-cart4:before {
	content: "\e64f";
}
.icon-statistics:before {
	content: "\e650";
}
.icon-bars:before {
	content: "\e651";
}
.icon-graph:before {
	content: "\e652";
}
.icon-checkmark3:before {
	content: "\e653";
}
.icon-cross:before {
	content: "\e654";
}
.icon-arrow-left:before {
	content: "\e655";
}
.icon-arrow-down:before {
	content: "\e656";
}
.icon-arrow-up:before {
	content: "\e657";
}
.icon-arrow-right:before {
	content: "\e658";
}
.icon-arrow-left2:before {
	content: "\e659";
}
.icon-arrow-down2:before {
	content: "\e65a";
}
.icon-arrow-up2:before {
	content: "\e65b";
}
.icon-arrow-right2:before {
	content: "\e65c";
}
.icon-arrow-left3:before {
	content: "\e65d";
}
.icon-arrow-down3:before {
	content: "\e65e";
}
.icon-arrow-up3:before {
	content: "\e65f";
}
.icon-uniE660:before {
	content: "\e660";
}
.icon-github:before {
	content: "\e661";
}
.icon-github2:before {
	content: "\e662";
}
.icon-flickr2:before {
	content: "\e663";
}
.icon-flickr3:before {
	content: "\e664";
}
.icon-vimeo2:before {
	content: "\e665";
}
.icon-vimeo3:before {
	content: "\e666";
}
.icon-twitter2:before {
	content: "\e667";
}
.icon-twitter3:before {
	content: "\e668";
}
.icon-facebook2:before {
	content: "\e669";
}
.icon-facebook3:before {
	content: "\e66a";
}
.icon-googleplus2:before {
	content: "\e66b";
}
.icon-googleplus3:before {
	content: "\e66c";
}
.icon-pinterest:before {
	content: "\e66d";
}
.icon-pinterest2:before {
	content: "\e66e";
}
.icon-linkedin:before {
	content: "\e66f";
}
.icon-linkedin2:before {
	content: "\e670";
}
.icon-skype:before {
	content: "\e671";
}
.icon-skype2:before {
	content: "\e672";
}
.icon-picasa:before {
	content: "\e673";
}
